@using DHDomtica.Models
@using WebGrease.Activities
<h1 class="my-4">Admin opties</h1>
<div class="list-group">
    @Html.ActionLink("Statistieken", "Index", "Admin", null, new { @class = "list-group-item child-list-group-item" })
    @*Index is statistieken pagina*@
    @Html.ActionLink("Producten beheren", "Index", "AdminManageProducts", null, new { @class = "list-group-item child-list-group-item" })
    @Html.ActionLink("Gebruikers beheren", "Index", "AdminManageUser", null, new { @class = "list-group-item child-list-group-item" })
    @Html.ActionLink("Orders", "Index", "AdminOrders", null, new { @class = "list-group-item child-list-group-item" })
</div>