<!-- Footer -->
@using DHDomtica.Controllers
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; @DateTime.Now.Year - School project</p>
    </div>
    <div>
        <ul>
            <li>@Html.ActionLink("Over ons", "About", "Home", null, new { @class = "child-text" })</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "child-text" })</li>
            @if (HomeController.HelloWorld == "Admin")
            {
                <li>@Html.ActionLink("Don't touch it", "Index", "Admin", null, new { @class = "child-text" })</li>
            }

        </ul>
    </div>
    <!-- /.container -->
</footer>