@using DHDomtica.Controllers
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/Home/Index">
            <img src="/Content/Images/_navbarLogo.png" alt="">
        </a>
        @*<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>*@
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav  ml-auto">
                @*<li class="nav-item">@Html.ActionLink("Home", "Index", "Home")</li>*@
                <li>
                    @using (Html.BeginForm("Search", "Home"))
                    {<div class="container">
                            <div class="row">
                                <div class="input-group-btn search-panel form-inline">
                                    <select class="form-control">
                                        <option value="-1">Alles</option>
                                        <option value="1">Camera's</option>
                                        <option value="2">Controller</option>
                                        <option value="3">Modules</option>
                                        <option value="4">Sensoren</option>
                                        <option value="5">Smart Home</option>
                                    </select>
                                    <input class="form-control" name="searchString" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    }
                </li>

                @*fontawesome icons*@
                <li class="nav-item">
                    <a class="nav-link" href="/Store/Wishlist">
                        <i class="far fa-heart fa-lg"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/ShoppingCart">
                        <i class="fas fa-shopping-cart fa-lg"></i>
                    </a>
                </li>
                <li class="nav-item">
                @*if (Login is true?)
                {
                    Controller info and changed button
                  }else
                  {*@
                  @Html.ActionLink("Login", "SignInPage", "SignIn", null, new { @class = "nav-link" })
                  @*}*@
                </li>
            </ul>
        </div>
    </div>
    </nav>

