@model DHDomtica.Models.Review
@{
    ViewBag.Title = "_Review";
}

<!--review section-->
<div class="card card-outline-secondary my-4">
    <div class="card-header">
        Product Reviews
    </div>
    @{ 
        foreach (Review r in Model.Reviews)
        {
            <div class="card-body">
                <p>@Html.DisplayFor(model => model.ReviewText)</p>
                <small class="text-muted">Geplaatst door @Html.DisplayFor(model=> model.UserID) on @Html.DisplayFor(model => model.Date)</small>
                <hr>
                <a href="#" class="btn btn-success">Leave a Review</a>
            </div>
        }
    }
</div>

