@{
    ViewBag.Title = "Over ons";
}


<div class="container">
    <div class="card mt-4">

        <div class="col-lg-12">
            <h2 class="table-text">@ViewBag.Title</h2>

            <p class="table-text">DH-Domotica verkoopt diverse domotica producten. Onze visie is om het leven van de klant in huis zo makkelijk mogelijk te maken. Daarbij voorzien wij onze klanten van het beste advies door middel van onze service chat.</p>

            <h2 class="table-text">Ons verhaal</h2>

            <p class="table-text">In 2018 zijn wij begonnen met een webshop met een kleine 800 producten. Waaronder sensoren, lampen en andere slimme apparaten om het in huis gemakkelijker te maken. Wij zijn sindsdien hiermee bezig en hopen dat wij ook iets voor U kunnen betekenen.</p>
        </div>
    </div>
    <hr>
<!-- Team Members Row -->
<div class="card mt-4">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="table-text">Ons Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/Content/Images/Avatar_SFB.jpg" alt="http://placehold.it/200x200">
            <h3>
                Bas Buvelot
                <small>Fullstack</small>
            </h3>
            <p>Onze front-end developer en grotendeels verantwoordelijk voor het uiterlijk van onze website. De pagina's die U ziet zien er door hem mooi uit.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/Content/Images/Avatar_DZ.jpg" alt="">
            <h3>
                Danny Zoetmulder
                <small>Scrum Master</small>
            </h3>
            <p>De informele leider van het development team. Wanneer er iets fout gaat zit hij er bovenop en zorgt dat de rest van het team verder kan. Daarnaast is hij ook de hoofdtester van de website.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/Content/Images/Avatar_LW.jpg" alt="">
            <h3>
                Lorenzo Wijntjes
                <small>Back-end</small>
            </h3>
            <p>Verantwoordelijk voor een groot deel van wat er achter de schermen gebeurt. Wanneer er iets moet gebeuren met de database of met andere gegevens dan zorgt hij daarvoor.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="~/Content/Images/Avatar_TvL.jpg" alt="">
            <h3>
                Tim van Leeuwen
                <small>Back-end</small>
            </h3>
            <p>Onze andere man achter de schermen. Hij heeft ook veel van de website gemaakt. Vooral wanneer het over betalingen en orders bestellen gaat is hij onze man.</p>
        </div>
    </div>
</div>

</div>
<!-- /.container -->
