@{
    ViewBag.Title = "Over ons";
}


<div class="container">
    <div class="card mt-4">

        <div class="col-lg-12">
            <h2>@ViewBag.Title.</h2>

            <p>DH-Domotica verkoopt diverse domotica producten. Daarbij voorzien van het beste advies doormiddel van onze klanten service chat.</p>

            <h2>Ons verhaal</h2>

            <p>In 2018 zijn wij begonnen met een webshop met een kleine 800 producten. Waaronder sensoren, lampen en andere slimme apparaten om het in huis gemakkelijker te maken.</p>
        </div>
    </div>
    <hr>
<!-- Team Members Row -->
<div class="card mt-4">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="my-4">Ons Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/Content/Images/Avatar_SFB.jpg" alt="http://placehold.it/200x200">
            <h3>
                Bas Buvelot
                <small>Job Title</small>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/Content/Images/Avatar_DZ.jpg" alt="">
            <h3>
                Danny Zoetmulder
                <small>Job Title</small>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/Content/Images/Avatar_LW.jpg" alt="">
            <h3>
                Lorenzo Wijntjes
                <small>Job Title</small>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>
                Tim Fijenoord(jk)
                <small>Job Title</small>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
</div>

</div>
<!-- /.container -->
