
@{
    ViewBag.Title = "BlogDom";
}

<h3 data-fontsize="24" data-lineheight="24"></h3>
<h3 data-fontsize="24" data-lineheight="24">Wat is domotica?</h3>
<p><strong>Domotica is het automatiseren van elektrische apparaten in en om het huis.&nbsp;Dit met tussenkomst van een computer waarbij alle ingestelde processen te monitoren en te regelen zijn. Met als doel het leefcomfort te verbeteren.&nbsp;</strong></p>
<p>Domotica wordt ook wel huisautomatisering, slim wonen of smart homes genoemd. De benaming komt van het woord ‘domus’. Dit betekent ‘huis’ in het Latijns. De toevoeging van ‘ica’ slaat op ‘toegepaste wetenschap’. De betekenis van domotica:</p>
<blockquote>
    <p>“De integratie van technologie en diensten ten behoeve van een betere kwaliteit van wonen en leven.”</p>
</blockquote>
<p>Hiermee is de vraag ‘wat is domotica?’ beantwoordt, maar wat kunt u ermee, hoe werkt het en wat zijn de voordelen van domotica?</p>
<h3 data-fontsize="24" data-lineheight="24">Ontstaan domotica</h3>
<p>De eerste domotica systemen bestonden vooral voor mensen met een functiebeperking. Zo konden zij de nodige huishoudelijke taken (laten) uitvoeren. Eind 20e eeuw brak domotica pas echt door, dit kwam omdat verschillende systemen met elkaar op deze manier konden communiceren.</p>
<p>Door de komst van de etheraansluiting werden mogelijkheden met domotica gigantisch uitgebreid. Nu was het mogelijk audio, video, camerabeveiliging, verwarming, alarm, airco etc. aan te sluiten aan een systeem. Vanuit dat de computer was het dus mogelijk de aangesloten elektrische apparaten te regelen en te monitoren.</p>
<h3 data-fontsize="24" data-lineheight="24">Wat kunt u met domotica doen?</h3>
<p><img class="wp-image-2181 alignright" src="https://www.amado-domotica.nl/wp-content/uploads/2017/12/Schermafbeelding-2017-12-07-om-18.05.13.jpg" alt="Wat is domotica?" srcset="https://www.amado-domotica.nl/wp-content/uploads/2017/12/Schermafbeelding-2017-12-07-om-18.05.13-300x176.jpg 300w, https://www.amado-domotica.nl/wp-content/uploads/2017/12/Schermafbeelding-2017-12-07-om-18.05.13-768x451.jpg 768w, https://www.amado-domotica.nl/wp-content/uploads/2017/12/Schermafbeelding-2017-12-07-om-18.05.13.jpg 1024w" sizes="(max-width: 321px) 100vw, 321px" width="321" height="189"></p>
<p>U kunt domotica toepassen op elektrische apparaten in huis.</p>
<ul>
    <li>Verlichting: regel uw lampen op afstand of maak een schema wanneer ze aan staan en wanneer niet. Producten als: Philips Hue, Osram Lightify of KlikAanKlikUit bieden dit ook wat betreft verlichting, maar er zijn ook domotica systemen die alles in 1 bieden.</li>
    <li>Verwarming: Regel dat ‘sochtends vroeg en ’s avonds de kachel aan staat en daarbuiten mag de kachel uit, ga bewuster met energie om en bespaar.</li>
    <li>Camerabeveiliging: op uw telefoon zie wie er voor uw deur staat terwijl u op werk bent.</li>
    <li>Bewegingssensor: gaan uw apparaten, zoals verlichting of deuren, aan of open bij beweging? Of geven apparaten, zoals camerabeveiliging, een melding op uw telefoon als het beweging detecteert? Dit is allemaal in te stellen.</li>
    <li>Andere apparaten: wilt u dat jouw wasmachine gaat draaien 1 uur voordat u thuis bent? Wilt u dat er ’s ochtends een bakje koffie voor u klaar staat? Wilt u dat uw zonneschermen automatisch opengaan als er zonlicht op staat? Het kan allemaal met domotica.</li>
</ul>
<h3 data-fontsize="24" data-lineheight="24">Wat zijn de voordelen van domotica?</h3>
<p><img class="wp-image-2183 alignright" src="https://www.amado-domotica.nl/wp-content/uploads/2017/12/Schermafbeelding-2017-12-07-om-18.05.53.jpg" alt="Wat is domotica?" srcset="https://www.amado-domotica.nl/wp-content/uploads/2017/12/Schermafbeelding-2017-12-07-om-18.05.53-300x176.jpg 300w, https://www.amado-domotica.nl/wp-content/uploads/2017/12/Schermafbeelding-2017-12-07-om-18.05.53-768x451.jpg 768w, https://www.amado-domotica.nl/wp-content/uploads/2017/12/Schermafbeelding-2017-12-07-om-18.05.53.jpg 1024w" sizes="(max-width: 321px) 100vw, 321px" width="321" height="188"></p>
<p>Het verschil tussen domotica en de ‘normale elektronische installatie’ is dat domotica reageert op niet-elektronische aspecten. Daarnaast kunt u met domotica de verschillende systemen op elkaar afstemmen. Denk bijvoorbeeld aan: als u de verlichting aandoet, dan gaan de gordijnen dicht.</p>
<ul>
    <li>Comfort: blijf lekker op de bank zitten terwijl u de elektrische apparaten vanaf uw telefoon regelt.</li>
    <li>Energie- en geldbesparing: ga bewuster met energie om: vergeet nooit meer de kachel uit te zetten. Of regel dat het licht uitgaat als er geen beweging wordt gezien door het systeem.</li>
    <li>Veiligheid: door slimme beveiliging voelt u zich veiliger in uw eigen huis.</li>
</ul>
<h3 data-fontsize="24" data-lineheight="24">Hoe werkt domotica?</h3>
<p>Domotica werkt met sensoren, actuatoren en een controller. Een sensor vangt een signaal op, een signaal wordt verzonden naar een controller en vervolgens zet de controller de boodschap door naar een apparaat. U kunt dus actie-reactie opdrachten inschakelen, een schema instellen en op afstand uw apparaten bedienen vanaf een basisstation.</p>
<a href="https://www.amado-domotica.nl/wat-is-domotica/">gevonden op</a>
