
@{
    ViewBag.Title = "BlogAlexa";
}


<article id="post-1147620" class="post-1147620 gids type-gids status-publish has-post-thumbnail tag-alexa tag-amazon gids-category-gids-diensten">


    <div class="main__content-title">
        <div class="media__body">
            <header>
                <div class="columns">
                    <div class="col-md-4 col-lg-3 col-xl-3">
                        <figure class="block img-fullwidth responsive ">
                            <img src="https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit-512x324.jpg" srcset="https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit-256x162.jpg 256w, https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit-331x210.jpg 380w, https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit-512x324.jpg 512w, https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit-436x277.jpg 762w, https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit-569x379.jpg 992w, https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit-512x324.jpg 1524w, https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit-512x324.jpg 1984w" sizes="(max-width: 762px) 100vw, 640px" alt="Amazon Echo Plus wit">
                        </figure>
                    </div>
                    <div class="col-md-8 col-lg-9 col-xl-9">
                        <h1 class="margin-top-0 margin-bottom-10">
                            Amazon Alexa in Nederland gebruiken: zo werkt het
                        </h1>
                    </div>
                </div>
                <div class="box-meta-excerpt">
                    De Amazon Alexa-app is sinds december 2017 ook in Nederland en België te downloaden. Daardoor wordt het makkelijker om de Amazon Alexa spraakassistent te gebruiken. Maar wat heb je eraan?
                </div>

            </header>
        </div>
    </div>


    <div class="main__content-body">
        <h2>Amazon Alexa</h2>
        <p>Wil je eenAmazon Echo in Nederland gebruiken, dan heb je daarvoor de officiële Amazon Alexa-app nodig. Maar ook op allerlei andere apparaten vind je steeds vaker ondersteuning voor Alexa. Wat heb je eraan in het Nederlands?</p>
        <ul>
            <li><a href="#wat">Wat is Alexa?</a></li>
            <li><a href="#nl">Nederlandse Alexa</a></li>
            <li><a href="#hoe">Hoe werkt Alexa?</a></li>
            <li><a href="#welke">Alexa-speakers</a></li>
            <li><a href="#app">Alexa-app</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#home">Smart Home</a></li>
        </ul>
        <p>
            <span id="more-1147620"></span><div>
                <div class="center ad-container-responsive" style="margin: 10px;">
                    <!-- iCulture/artikel/autonative -->
                    <div id="adf-autonative" class="center"><div id="google_ads_iframe_/4045/Iculture/gids/autonative_0__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/4045/Iculture/gids/autonative_0" title="3rd party ad content" name="google_ads_iframe_/4045/Iculture/gids/autonative_0" scrolling="no" marginwidth="0" marginheight="0" style="border: 0px none; vertical-align: bottom;" srcdoc="" width="2" height="1" frameborder="0"></iframe></div></div>
                </div>
            </div>
        </p>
        <h2 id="wat">Wat is Alexa?</h2>
        <p>Alexa is het spraaksysteem van <a rel="nofollow noopener" target="_blank" href="https://www.amazon.de/?language=nl_NL&amp;site-redirect=nl&amp;tag=iculturenl-21" data-linkid="1147416" data-shortcode="true">Amazon</a>. Het is genoemd naar de wereldberoemde bibliotheek van Alexandrië en het kan vragen beantwoorden en opdrachten uitvoeren die jij met je stem geeft. Zo kun je Alexa vragen om muziek af te spelen of de lampen te dimmen. </p>
        <p>Je activeert Alexa door het activatiewoord te roepen, gevolgd door de opdracht. Als activatiewoord kun je kiezen uit vier opties: Alexa, Echo, Amazon of Computer. Je moet één van deze vier woorden kiezen. Daarna zeg je wat je gedaan wilt hebben. Hiervoor gebruik je natuurlijke taal, al helpt het wel als je zo duidelijk mogelijk bent. </p>
        <h2 id="nl">Alexa in het Nederlands?</h2>
        <p>Alexa is nog niet Nederlandstalig, dus je zult je opdrachten in het Engels moeten geven.</p>
        <p>Of Amazon Alexa ooit Nederlands en Vlaams spreekt, is een groot vraagteken. Momenteel werkt de assistent alleen in het <a href="https://developer.amazon.com/docs/custom-skills/develop-skills-in-multiple-languages.html" target="_blank" rel="nofollow">Engels, Duits, Frans en Japans</a>. Er lijken weinig plannen te bestaan om ook Nederlands te ondersteunen. Amazon zal eerder kiezen voor Spaans, Chinees en andere talen waarmee ze in één klap een groot gebied kunnen afvinken.</p>
        <p>Er gaan al jaren geruchten dat Amazon naar Nederland wil komen, maar ook die plannen worden niet erg concreet. Het bedrijf opereert al jarenlang vanuit Duitsland en er worden steeds meer diensten toegevoegd die het winkelen voor Nederlanders aantrekkelijker moeten maken. Zo is <a href="https://www.iculture.nl/deals/amazon-prime-nederland/" class="ic_autolink">Amazon Prime</a> ook voor Nederlandse gebruikers beschikbaar en is een groot deel van de website naar het Nederlands vertaald. Bovendien kun je betalen met iDEAL. </p>
        <p>Volgens cijfers weten Nederlanders Amazon wel te vinden: Amazon staat op nummer 6 in de lijst van meestbezochte webwinkels in Nederland. Nederlanders kopen jaarlijks voor rond de 250 miljoen euro bij Amazon Duitsland.</p>
        <p><a href="https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit.jpg" data-title="Amazon Echo Plus wit"><img src="https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit.jpg" data-lazy-type="image" data-src="https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit.jpg" alt="Amazon Echo Plus wit" class="aligncenter size-full wp-image-1147624 lazy-loaded" srcset="https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit.jpg 720w, https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit-405x270.jpg 405w, https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit-569x272.jpg 569w" data-srcset="" sizes="(max-width: 762px) 100vw, 640px" width="720" height="480"><noscript><img src="https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit.jpg" alt="Amazon Echo Plus wit" width="720" height="480" class="aligncenter size-full wp-image-1147624" srcset="https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit.jpg 720w, https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit-405x270.jpg 405w, https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102324/amazon-echo-plus-wit-569x272.jpg 569w" sizes="(max-width: 762px) 100vw, 640px" /></noscript></a></p>
        <h2 id="hoe">Hoe werkt Alexa?</h2>
        <p>Amazon en andere techbedrijven werken al een aantal jaren aan systemen voor verwerking van natuurlijke taal. Het systeem van Amazon heet Alexa en is vrij goed in het herkennen van wat je wilt. Heb je een <a href="https://www.iculture.nl/gids/amazon-echo-nederland/" title="Amazon Echo: wat heb je er in Nederland aan?">Amazon Echo-speaker</a>, dan luistert deze voortdurend en gaat meteen aan de slag als je een opdracht geeft. In de Echo-speakers zitten meerdere richtmicrofoons zodat je spraakopdracht ook wordt herkend als je in een uithoek van de kamer staat. Je kunt de Echo-speakers ook op een bestaande speaker aansluiten via de 3,5mm audiojack die op elk model aanwezig is.</p>
        <p>De speaker stuurt alleen je opdracht naar de <a rel="nofollow noopener" target="_blank" href="https://www.amazon.de/?language=nl_NL&amp;site-redirect=nl&amp;tag=iculturenl-21" data-linkid="1147416" data-shortcode="true">Amazon</a>-servers als je iets vraagt. Elke vraag die je stelt verschijnt ook in de app. Eventueel kun je de vraag na afloop verwijderen. </p>
        <p>Noem je het activatiewoord, dan neemt Alexa alles wat je daarna zegt op en stuurt het naar de servers van Amazon om te analyseren. Gaat het om een vraag zoals “Alexa, what is the weather in Utrecht today?”, dan zal de speaker het antwoord oplezen.</p>
        <p>Je kunt ook vragen: “Alexa, what is my flash briefing?” om het laatste NOS-radiojournaal te horen. Je kunt dit instellen via de app.</p>
        <p>Vraag je Alexa om muziek af te spelen, dan kan dat via Amazon Prime Music (Prime-lidmaatschap vereist), Spotify, TuneIn en dergelijke. Een voorbeeld is: “Alexa, play Radiohead on Spotify”. Je hebt hier wel een Spotify Premium-account voor nodig.</p>
        <p>Je kunt ook “Alexa, turn on the lights” vragen, maar daarvoor moet je wel eerst je <a href="https://www.iculture.nl/special/smart-home/" class="ic_autolink">smart home</a>-systeem juist hebben ingesteld in combinatie met Alexa. </p>
        <p>In de VS kun je Alexa ook vragen om spullen op Amazon te kopen. En er zijn nog meer mogelijkheden, die door Amazon ‘skills’ worden genoemd. Dit zijn toepassingen van derden die Alexa kan uitvoeren. Amazon staat open voor allerlei partners die ermee willen samenwerken. Shoppen met Alexa is alleen mogelijk als je lid van <a href="https://www.iculture.nl/deals/amazon-prime-nederland/" title="Amazon Prime Day in Nederland: dit zijn de deals">Amazon Prime</a> bent en het werkt alleen met producten die geschikt zijn voor Prime.</p>
        <p><a href="https://s3-storage.textopus.nl/wp-content/uploads/2018/07/1178712/16142744/amazon-echo-modellen.jpg" data-title="Amazon Echo modellen"><img src="https://s3-storage.textopus.nl/wp-content/uploads/2018/07/1178712/16142744/amazon-echo-modellen.jpg" data-lazy-type="image" data-src="https://s3-storage.textopus.nl/wp-content/uploads/2018/07/1178712/16142744/amazon-echo-modellen.jpg" alt="Amazon Echo modellen" class="aligncenter size-full wp-image-1178712 lazy-loaded" width="778" height="555"><noscript><img src="https://s3-storage.textopus.nl/wp-content/uploads/2018/07/1178712/16142744/amazon-echo-modellen.jpg" alt="Amazon Echo modellen" width="778" height="555" class="aligncenter size-full wp-image-1178712" /></noscript></a></p>
        <h2 id="welke">Welke Alexa-speakers zijn er?</h2>
        <p>Je kunt Alexa gebruiken op de <a href="https://www.iculture.nl/gids/amazon-echo-nederland/" title="Amazon Echo: wat heb je er in Nederland aan?">Amazon Echo-speakers</a>. Deze modellen zijn momenteel verkrijgbaar en worden geleverd in Nederland:</p>
        <ul>
            <li><a href="https://www.iculture.nl/gids/amazon-echo-nederland/" class="ic_autolink">Amazon Echo</a> Plus: <a href="https://www.amazon.de/gp/search?ie=UTF8&amp;tag=iculturenl-21&amp;linkCode=ur2&amp;linkId=68e09502f53a48c8d4f35a23409de4e0&amp;camp=1638&amp;creative=6742&amp;index=aps&amp;keywords=amazon echo international version">149,99 euro</a></li>
            <li><a href="https://www.iculture.nl/gids/amazon-echo-nederland/" class="ic_autolink">Amazon Echo</a> 2e generatie: <a href="https://www.amazon.de/gp/search?ie=UTF8&amp;tag=iculturenl-21&amp;linkCode=ur2&amp;linkId=68e09502f53a48c8d4f35a23409de4e0&amp;camp=1638&amp;creative=6742&amp;index=aps&amp;keywords=amazon echo international version">99,99 euro</a></li>
            <li><a rel="nofollow noopener" target="_blank" href="https://www.amazon.de/?language=nl_NL&amp;site-redirect=nl&amp;tag=iculturenl-21" data-linkid="1147416" data-shortcode="true">Amazon</a> Echo Dot 2e generatie: <a href="https://www.amazon.de/gp/search?ie=UTF8&amp;tag=iculturenl-21&amp;linkCode=ur2&amp;linkId=68e09502f53a48c8d4f35a23409de4e0&amp;camp=1638&amp;creative=6742&amp;index=aps&amp;keywords=amazon echo international version">59,99 euro</a></li>
        </ul>
        <p>Daarnaast zijn er nog enkele andere modellen zoals de Echo Show (een grote speaker met scherm), Echo Spot (een rond bolletje met scherm) en Echo Kids Edition (een kinderversie van de Dot), maar die zijn niet officieel in Nederland verkrijgbaar.</p>
        <p>Als je de speaker wilt gebruiken voor het luisteren van muziek, dan is het goed om te weten dat de audiokwaliteit niet zo goed is als een <a href="https://www.iculture.nl/gids/sonos/" class="ic_autolink">Sonos</a> of een andere ‘echte’ speaker. Als alternatief zou je de <a href="https://www.iculture.nl/reviews/sonos-one-review/" title="Review: Sonos One">Sonos One (zie review)</a> in huis kunnen halen <a href="https://prf.hn/click/camref:1101l32Kw/pubref:Autolink/destination:https://www.audiostreamershop.nl/product/795383/sonos-one-wit.html" target="_blank" rel="nofollow">voor €229</a>, die ook ondersteuning voor Alexa en in de toekomst nog meer slimme assistenten biedt.</p>
        <h2 id="app">Amazon Alexa-app</h2>
        <p>Om Amazon Alexa te kunnen gebruiken heb je de officiële Alexa-app app downloaden. Deze is verkrijgbaar in de Nederlandse en Belgische <a href="https://www.iculture.nl/uitleg/app-store/" class="ic_autolink">App Store</a>. In het verleden was het lastiger om Alexa-werkend te krijgen, omdat je hiervoor een Brits of <a href="https://www.iculture.nl/tips/amerikaans-apple-id-of-itunes-account-aanmaken/" title="Amerikaans Apple ID of iTunes-account aanmaken">Amerikaans iTunes-account</a> moest gebruiken. Wel zit je nog steeds vast aan de ondersteunde talen, dus Engels, Duits of Frans.</p>
        <aside class="row ic_special wide clearfix" style="">
            <div class="col-lg-12">
                <div class="row app-horizontal sidebar" data-store="ios">
                    <div class="col-md-12 app-header">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="https://is3-ssl.mzstatic.com/image/thumb/Purple118/v4/3b/2c/73/3b2c7308-17a2-b68b-8851-74e98d79ff0d/source/250x250bb.jpg" class="img-responsive img-rounded pull-left m-r icon" alt="Amazon Alexa">
                                <p class="h4 m-n title block hide-on-lg">Amazon Alexa</p>
                                <p class="h4 m-n title block show-on-lg">Amazon Alexa</p>
                                <p class="h6 text-uppercase m-n version block">Versie 2.2.243227.0</p>
                                <a class="btn btn-primary btn-sm btn-download floating " href="https://www.iculture.nl/app/944011620/8" rel="nofollow" target="_blank">
                                    <span class="price text-uppercase">Gratis</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 app-info">
                        <div class="row">
                            <div class="col-sm-6 ">
                                <p class="attr h5">Geschikt voor</p>
                                <p class="value">iPhone, iPad</p>

                            </div>
                            <div class="col-sm-3">
                                <p class="attr h5">Vereist</p>
                                <p class="value">iOS 9.0+</p>
                            </div>
                            <div class="col-sm-3">
                                <p class="attr h5">Grootte</p>
                                <p class="value">302.75 MB</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="row m-b-n hide-on-xs">
                            <div class="col-sm-6 ">
                                <p class="attr h5">Uitgever</p>
                                <p class="value"><a href="https://itunes.apple.com/nl/developer/amzn-mobile-llc/id297606954?uo=4&amp;ct=Developer&amp;at=1l3v879" class="hiddenlink" target="_blank"><span class="underline">AMZN Mobile LLC</span> <svg class="icon icon-external"><use xlink:href="#icon-external"></use></svg></a></p>
                            </div>
                            <div class="col-sm-3">
                                <p class="attr h5">Leeftijd</p>
                                <p class="value">4+</p>
                            </div>
                            <div class="col-sm-3">
                                <p class="attr h5">Talen</p>
                                <p class="value"><span style="font-size: 26px;line-height: 26px;cursor: default;"><span data-toggle="tooltip" title="Engels">🇺🇸 </span><span data-toggle="tooltip" title="Frans">🇫🇷 </span><span data-toggle="tooltip" title="Duits">🇩🇪 </span><span data-toggle="tooltip" title="Spaans">🇪🇸 </span><a href="https://www.iculture.nl/app/944011620/8" target="_blank" class="hiddenlink">➕ </a></span></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <h2 id="skills">Wat zijn Alexa skills?</h2>
        <p>Een skill is een soort vaardigheid die Alexa kan uitvoeren. Er zijn meer dan 30.000 skills die je in de Alexa-app kunt toevoegen en er komen wekelijks nieuwe bij. Met de Alexa Skill Kit kan iedereen met programmeerkennis zelf een skill maken en aan Alexa toevoegen. Eén van de meest nuttige is de IFTTT-skill, waarmee je meerdere apparaten met elkaar kunt koppelen. </p>
        <p><a href="https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102319/amazon-echo-plus-huiskamer.jpg" data-title="Amazon Echo Plus in de huiskamer"><img src="https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102319/amazon-echo-plus-huiskamer.jpg" data-lazy-type="image" data-src="https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102319/amazon-echo-plus-huiskamer.jpg" alt="Amazon Echo Plus in de huiskamer" class="aligncenter size-full wp-image-1147623 lazy-loaded" srcset="https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102319/amazon-echo-plus-huiskamer.jpg 800w, https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102319/amazon-echo-plus-huiskamer-322x270.jpg 322w, https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102319/amazon-echo-plus-huiskamer-768x644.jpg 768w, https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102319/amazon-echo-plus-huiskamer-656x550.jpg 656w" data-srcset="" sizes="(max-width: 762px) 100vw, 640px" width="800" height="671"><noscript><img src="https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102319/amazon-echo-plus-huiskamer.jpg" alt="Amazon Echo Plus in de huiskamer" width="800" height="671" class="aligncenter size-full wp-image-1147623" srcset="https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102319/amazon-echo-plus-huiskamer.jpg 800w, https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102319/amazon-echo-plus-huiskamer-322x270.jpg 322w, https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102319/amazon-echo-plus-huiskamer-768x644.jpg 768w, https://s3-storage.textopus.nl/wp-content/uploads/2017/12/08102319/amazon-echo-plus-huiskamer-656x550.jpg 656w" sizes="(max-width: 762px) 100vw, 640px" /></noscript></a></p>
        <p>Niet alle Alexa-skills zijn in Nederland te gebruiken. Zo is er de Lyft skill voor het bestellen van een taxi en de Domino’s skill voor bezorgpizza’s. Deze werken alleen in de VS. Er zijn skills voor bepaalde <a href="https://www.iculture.nl/special/smart-home/" class="ic_autolink">smart home</a>-apparaten en voor activiteiten zoals koken, weer en verkeer.</p>
        <p>Het feit dat iedereen zelf skills kan maken is een groot verschil met <a href="https://www.iculture.nl/uitleg/siri/" class="ic_autolink">Siri</a>. <a href="https://www.iculture.nl/uitleg/siri/" class="ic_autolink">Siri</a> heeft bijvoorbeeld wel verstand van <a href="https://www.iculture.nl/tips/siri-sport/">sporten zoals golf, tennis en voetbal</a>, maar die kennis omvat niet alle denkbare sporten. Voor Alexa heeft iemand op eigen initiatief een Cricket Facts-skill gemaakt, zodat je feitjes kunt opvragen over deze sport. Zoek je een assistent die veel kennisvragen kan beantwoorden, dan ben je beter af met <a href="https://www.iculture.nl/gids/google-assistant/">Google Assistant</a>.</p>
        <p>Je bepaalt zelf welke skills je toevoegt aan de Alexa-app, maar als je er heel veel kiest wordt het al snel onoverzichtelijk. <a href="https://github.com/dale3h/alexa-skills-list" rel="noopener nofollow" target="_blank">Hier vind je</a> een uitgebreide lijst van alle denkbare Alexa-skills.</p>
        <h2 id="home">Amazon Alexa en je smart home</h2>
        <p>In de Alexa-app zie je met welke producten Alexa samenwerkt. Je vindt ze in de <a href="https://www.iculture.nl/special/smart-home/" title="Smart Home">smart home</a>-sectie in de app. Denk daarbij bijvoorbeeld aan de Nest-thermostaat, Philips Hue-verlichting en Belkin Wemo-schakelaars. Ook de LiFX-lampen en Ecobee thermostaten werken met Alexa samen, plus nog duizenden andere producten. </p>
        <p>Het mooie is dat fabrikanten zelf ‘skills’ kunnen ontwikkelen en Alexa niet om toestemming hoeven te vragen. Bij Apple’s HomeKit is alles wat strenger geregeld en moet een fabrikant de producten eerst door Apple laten testen. Dit kan nogal wat vertraging bij de ontwikkeling van nieuwe producten opleveren. Vandaar dat er veel meer accessoires zijn die met Alexa werken dan met HomeKit.</p>
        <p>Aanvankelijk moest je één opdracht per spraakcommando geven, maar je kunt dit nu ook combineren tot meerdere routines. Routines zijn activiteiten die uit meerdere taken bestaan, bijvoorbeeld “Doe alles in de slaapkamer uit” of “Ik kom thuis”. Je kunt routines ook op een bepaald tijdstip activeren, bijvoorbeeld als je opstaat. </p>

        <a href="https://www.iculture.nl/gids/amazon-alexa-nederland/">gevonden op</a>
    </div>
    
</article>


