@model MainCategoryViewModel
@using System.Web.DynamicData
@using DHDomtica.Models
@using System.Web.Mvc.Html;
@{
    ViewBag.Title = "CategoryPage";
}

<h2>@Model.Category.Name</h2>

@{

    foreach (Product p in Model.Products)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="@p.Image" alt="Afbeelding">
                <div class="card-body">
                    <h4 class="card-title"> @p.Name</h4>

                    <p>&#8364 @p.Price </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>
    }
}