@model MainCategoryViewModel
@using DHDomtica.Models
@using System.Web.Mvc.Html;
@{
    ViewBag.Title = "CategoryPage";
}

<h2>@Model.Category.Name</h2>

@{

    foreach (Product p in Model.Products)
    {
        <h3> @p.ProductNaam</h3><h3> @p.ProductDescription </h3><br />
    }
}