@using DHDomtica.Models
@{
    ViewBag.Title = "CategoryPage";
}

<h2>@Model.Name</h2>

@foreach (var p in (List<Product>)ViewBag.AllProducts)
{
    @Html.ActionLink(p.Name, "Products", "Home", new { ID = p.ID}, new { @class= "list-group-item child-list-group-item" })
}