@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <iframe
        width="760"
        height="380"
        src="https://www.youtube.com/embed/HjZVRWQ6n2g"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</div>

<h2>Blogs:</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Wat is domotica?</h2>
        <p>
            Domotica is het automatiseren van elektrische apparaten in en om het huis. Dit met tussenkomst van een
            computer waarbij alle ingestelde processen te monitoren en te regelen zijn. Met als doel het leefcomfort te verbeteren.</p>
        <p>
            @*<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Lees verder &raquo;*@</a>
            @Html.ActionLink("Lees verder", "BlogDom", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Fibaro Dimmer 2</h2>
        <p>Deze dimmer kun je toevoegen aan je controller, zodat je een lamp kunt dimmen via bv je smartphone.
            De dimmer kan tevens bediend worden via een wandschakelaar. Dus mocht je controller uitvallen dan kun je toch even goed je lamp aan- of uitzetten.</p>
        <p><a class="btn btn-default" href="https://www.domotica-blog.nl/post/review-fibaro-dimmer-2#continue">Lees verder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>