@using DHDomtica.Models
@using System.Web.Mvc.Html;
@{
    ViewBag.Title = "ProductModel";
}

<h2>@Model.Product.Name</h2>

<p>@Model.Product.Description</p>

@for(Product p in Model.Products)
    {
        <p>@p.Name</p>
    }
