@model MainCategoryViewModel
@using System.Web.DynamicData
@using DHDomtica.Models
@using System.Web.Mvc.Html;
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<h3>@ViewBag.Message</h3>
<div class="row">
    @{
        //int counter = 0;
        foreach (Product p in Model.Products)
        {
            //counter++;
            //if (counter > 0 && counter < 25)

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="@p.Image" alt="Afbeelding">
                        <div class="card-body">
                            <h4>@Html.ActionLink(p.Name, "ProductDetails", "Store", new { id = p.ID }, new { @class = "card-title" })</h4>
                            <p>&#8364 @Convert.ToInt16(Math.Round(p.Price)) </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

            }
        }
</div>
