
@{
    ViewBag.Title = "Index";
}

<h2>Admin statistieken</h2>

<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Bezoekers afgelopen maand"
	},
	axisY: {
		includeZero: false
	},
	toolTip: {
		shared: true
	},
	data: [{
		type: "line",
		name: "Aantal bezoekers",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.MonthlyVisitors)
	@*}, {
		type: "line",
		name: "Laptops",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints2)
	}, {
		type: "line",
		name: "Mobiles",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints3)*@
	}]
});
chart.render();

}
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>

@*<body>
        <h4>Dagelijkse bezoekers</h4>
        <p><img src="DailyVisitorsChart.cshtml" /> </p>
    </body>

    <body>
        <h4>Maandelijkse bezoekers</h4>
        <p><img src="MonthlyVisitorsChart.cshtml" /> </p>
    </body>

    <body>
        <h4>Jaarlijkse bezoekers</h4>
        <p><img src="YearlyVisitorsChart.cshtml" /> </p>
    </body>*@