
@{
    ViewBag.Title = "Index";
}

<h2>Admin statistieken</h2>

<body>
    <h4>Dagelijkse bezoekers</h4>
    <p><img src="DailyVisitorsChart.cshtml" /> </p>
</body>

<body>
    <h4>Maandelijkse bezoekers</h4>
    <p><img src="MonthlyVisitorsChart.cshtml" /> </p>
</body>

<body>
    <h4>Jaarlijkse bezoekers</h4>
    <p><img src="YearlyVisitorsChart.cshtml" /> </p>
</body>