@model DHDomtica.ViewModels.WriteReviewModel
@using DHDomtica.Models
@{
	ViewBag.Title = "Review";
}
@{
	List<SelectListItem> starsOfUsers = new List<SelectListItem>();
	starsOfUsers.Add(new SelectListItem
	{
		Text = "1",
		Value = "1",
	});
	starsOfUsers.Add(new SelectListItem
	{
		Text = "2",
		Value = "2",
	});
	starsOfUsers.Add(new SelectListItem
	{
		Text = "3",
		Value = "3"
	});
	starsOfUsers.Add(new SelectListItem
	{
		Text = "4",
		Value = "4"
	});
	starsOfUsers.Add(new SelectListItem
	{
		Text = "5",
		Value = "5"
	});
}

<h2>Review</h2>

<div class="col-lg-12">
	<div class="card mt-4">
		@{Product product = ViewBag.product; }
		Product:
		@Html.ActionLink(@product.Name, "ProductDetails/" + product.ID, "Store")
		

		@*<div class="form-group">
			Aantal sterren:
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.Stars, starsOfUsers, htmlAttributes: new { @class = "form-control", id = "Stars" })
				@Html.ValidationMessageFor(model => model.Stars, "", new { @class = "text-danger" })
			</div>
		</div>*@
		@using (Html.BeginForm("SaveReview", "Store"))
		{<div class="container">
				<div class="row">
					Aantal sterren:
					<select class="form-control" name="Sterren">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>

					</select>
					<textarea class="form-control" rows="3" name="ReviewText" type="submit" placeholder="Schrijf hier uw review."></textarea>
					<input class="form-control" name="productid" type="hidden" value=@product.ID>
					<button class="btn btn-success" type="submit">Opslaan</button>
				</div>
			</div>}
	</div>

</div>